body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #ffcc00;
}


main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

section {
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f4f4f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    border-bottom: 2px solid #555;
    padding-bottom: 0.3em;
}

section p {
    line-height: 1.8;
}

section img {
    margin-top: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
}


footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    background: #333;
    color: #fff;
}
